/*estilização do body da pagina*/
body {
    margin: 0;
    border: 0;
    font-family: 'poppins' 'Arial';
    background-color: #000000;
}





/* ESTIZAÇÃO DO HEADER DA PAGINA!*/
Header {
    background-color: #000000;
    /*padding: 70px ;*/

}




.logo {
    width: 25%;

}

/*estilização do menu*/
nav {
    color: white;
    font-size: 28;
    right: 352;
    top: 50px;
    position: absolute;

}

nav li {
    display: inline;
    margin-right: 20px;

}

/*estilizaçao da DIV do header*/
.divHeader {
    position: relative;

}

.banner {

    width: 100%;
    margin: 0;
    border: 0;


}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: aliceblue;
}

h2 {
    margin: 0;
    text-align: justify;
    width: 60%;
    margin-left: 20%;

}

.sobre_nos {
    margin: 0;
    text-align: justify;
    width: 60%;
    margin-left: 20%;

}

.imagemsobrenos {
    width: 10%;
}

.videos {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.videoegif {

    display: flex;

}